/*Including some new fonts*/

@font-face {
    font-family: "LeagueGothic";
    src: url(../fonts/LeagueGothic-Regular.otf);
}


/*Body style*/

body {
    font-family: "Arial";
}


/*Main sections styling*/

.section-wrap {
    display: flex;
}

.section {
    width: 550px;
    height: 550px;
    border: 10px solid #c9c9c9;
    border-radius: 30px;
    margin-right: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.section--editor {
    background: rgba(52, 73, 94, 0.9);
}


/*Main buttons positioning class*/

.btn-wrap {
    width: 300px;
    margin: 20px auto;
}


/*General button class style for the app*/

.btn {
    height: 40px;
    background-color: #2ecc71;
    text-align: center;
    border: 0;
    border-bottom: 5px solid #27ae60;
    font-size: 16px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}


/*Some particular styles for different button groups*/

.btn-global {
    width: 100px;
}

.btn-colorpicker {
    background-color: #1BA39C;
    border-color: #0B8389;
}

/*Buttons hover styling*/

.btn:hover {
    background-color: #27ae60;
}

.btn-colorpicker:hover {
    background-color: #0B8389;
}


/*Editor section styling*/


/*Styles for text area*/

#edit-textarea {
    width: 450px;
    height: 350px;
    border: 0;
    margin: 25px;
    font-size: 16px;
}

/*Button position class for editor section*/

.edit-btn-wrap {
    /*margin: 10px 0 0 150px;*/
    width: 320px;
    margin: 0 auto;
}

/*Hiding editor and stylier sections from the main screen*/

#editor-area,
#stylier-area {
    display: none;
}

/*View section styling*/

#view {
    padding: 10px;
}



#stylier-area {
    font-family: monospace;
    color: white;
    font-size: 16px;
    padding: 20px;
}

.btn-radio {
    color: #bdc3c7;
    border: 0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    /* cursor: pointer;*/
}

.font-size {
    margin-bottom: 30px;
}

.color-btn-wrap {
    margin: 30px 0 30px 0;
}

.color-box {
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 150px;
    flex-wrap: wrap;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#colors-pal,
#bgcolors-pal,
#add,
#listForm {
    display: none;
}

.select {
    width: 150px;
    height: 30px;
    margin-left: 40px;
    font-family: monospace;
    font-size: 16px;
    background-color: #1BA39C;
    border: 0;
    border-bottom: 5px solid #0B8389;
    color: white;
    font: "LeagueGothic";
    font: "LeagueGothic";
}


/*Checkbox styling*/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px;
    height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px;
    left: 5px;
}


/* on checked */

[type="checkbox"]:checked + label:before {
    background: #34495E;
}

[type="checkbox"]:checked + label:after {
    background: #39D2B4;
    top: 2px;
    left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
    content: "no";
    left: 32px
}

[type="checkbox"]:checked + label .ui:after {
    content: "yes";
    color: #39D2B4;
}

[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    box-sizing: border-box;
    margin-top: -1px;
}

/*Add section*/

.add-section {
    width: 600px;
    padding: 20px 20px 50px 20px;
    margin: 0 auto;
    background-color: rgba(52, 73, 94, 1);
    font-family: monospace;
    color: white;
    border: 10px solid #c9c9c9;
    border-radius: 30px;
    font-size: 16px;
}

[type="text"],
num-list-elem {
    width: 40px;
    margin-left: 20px;
    border: 0;
    border-bottom: 2px solid #27ae60;
    background-color: rgba(52, 73, 94, 1);
    font-size: 16px;
    color: white;
}

[type="text"]:hover,
num-list-elem:hover {
    border-bottom: 2px solid #ecf0f1;
}

[type="text"] + label {
    padding: 10px;
}

.select-container {
    margin: 50px 0;
    display: flex;
}

.select-box {
    margin-right: 20px;
}

#borderColor {
    margin-left: 75px;
}

#borderThickness {
    margin-left: 114px;
}

#sellHeight {
    margin-left: 42px;
}

#sellWidth {
    margin-left: 51px;
}

.borderColorLabel {
    margin-left: 40px;
}

.addType {
    font-size: 20px;
    margin: 20px 0;
}

.list-marking {
    margin: 20px 0;
}

.section-wrap {
    width: 1200px;
    margin: 0 auto;
}